<main>
  <h1 class="mdc-typography--display2 mdc-typography--adjust-margin">Welcome to Glimmer Dashboard!</h1>
  <div class="mdc-card">
    <section class="mdc-card__primary">
      <h1 class="mdc-card__title mdc-card__title--large">BTC to EUR exchange rate over time</h1>
      <h2 class="mdc-card__subtitle">Click and drag in the plot area to zoom in</h2>
    </section>
    <section class="mdc-card__media">
      <bitcoin-chart></bitcoin-chart>
    </section>
  </div>
  {{!-- <h2>Activities</h2>
  <ul>
    {{#each activities key="@index" as |activity|}}
      <li>
        {{activity.name}}
      </li>
    {{/each}}
  </ul>
  New Activity:
  <input id="new-activity" value={{value}} type="text" onkeyup={{action setInputValue}} />
  <button onclick={{action newActivity}}>Add Activity</button> --}}

</main>